div {
    border: 2px solid rgb(160, 90, 90);
    margin: 20px;
    padding: 10px;
}

p {
    color: rgb(60, 60, 114)
}


/* p:first-child {
    background: darksalmon;
}

p:last-child {
    background: darkslategrey;
    color: floralwhite;
} */

p:first-of-type {
    background: darkslategrey;
    color: floralwhite;
}

span:last-of-type {
    background: rgb(116, 27, 64);
    color: floralwhite;
}


/* Busca el elemento ubicado en la  */

p:nth-child(2) {
    color: greenyellow;
}

p:nth-last-child(4) {
    color: rgb(153, 32, 147);
}

span:only-of-type {
    color: rgb(206, 199, 211);
}