svg {
    background: rgb(98, 214, 98);
}

line {
    stroke: rgb(184, 167, 18);
    stroke-width: 5;
}

rect,
circle {
    stroke: rgb(128, 66, 9);
    stroke-opacity: .7;
    stroke-width: 5;
    fill: rgb(99, 136, 26);
    fill-opacity: .3;
    /* opacity:0.5 */
}