svg {
    background: rgb(197, 26, 83);
}

polygon {
    fill: purple;
    stroke: seashell;
    stroke-width: 2;
}

#one {
    fill: rgb(2, 3, 94);
    opacity: .4;
}

polyline {
    fill: none;
    stroke: rgb(134, 192, 122);
}