body {
    background: rgb(189, 139, 139);
}

div {
    border: 2px solid rgb(160, 90, 90);
    margin: 20px;
    padding: 10px;
}

p {
    color: rgb(60, 60, 114)
}


/* #parent1 {
    background: rgb(204, 189, 150);
}
 */


/* #parent3 {
    background: rgb(168, 166, 175);
} */


/* ELEMENTS HAVING A PARTICULAR ATTRIBUTE */


/* [class] {
    background: darkkhaki;
} */


/* ELEMENT DIV HAVING THE ATTRIBUTE ID = VALUE */


/* 
div[id=parent1] {}  #parent1
*/


/* ELEMENT DIV NOT HAVING THE #NAME */


/* div:not(#parent1) {
    background: rgb(168, 166, 175);
} */


/* ELEMENT DIV WHERE THE ID IDENTIFICATOR BEGINS WITH PAR */


/* div[id^=par] {
    background: rgb(190, 178, 178);
} */


/* ELEMENT DIV WHERE THE ID IDENTIFICATOR HAVE THE STRING ENT */


/* div[id*=ent] {
    background: rgb(113, 162, 185);
} */


/* ELEMENT DIV WHERE THE ID IDENTIFICATOR ENDS WITH 2 */

div[id$="2"] {
    background: rgb(185, 178, 113);
}