.changeColor {
    fill: azure;
    stroke: aquamarine;
    stroke-width: 4;
}

.changeColor1 {
    fill: rgb(216, 176, 211);
    stroke: rgb(9, 165, 113);
    stroke-width: 4;
}

.boxes {
    border: 3px solid black;
    background: chartreuse;
    margin: 10px;
    width: 100px;
    height: 100px;
    float: left;
}